.WeatherCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: bold;
}
.WeatherCard__container{
  box-shadow: inset 0 100px 1000px rgb(255 255 255 / 65%);
  border-radius: 30% 1% 30% 1%;
}
.WeatherCard__items{
  padding:10px;
}

.WeatherCard__items__location{
  font-size: 35px;
}

.WeatherCard__items__date{
  font-size: 25px;
}

.WeatherCard__items__temp{
  font-size: 50px;
}

.WeatherCard__items__weather{
  font-size: 25px;
}
