.Main{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300vh;
  width:100%;
  height:100vh;
}
.Main.Rain{
  background-image: url("./assets/rain__img.JPG");
}
.Main.Clouds{
  background-image: url("./assets/cloud__img.JPG");
}

.Main.Clear{
  background-image: url("./assets/sunnySky__img.JPG");
}
.Main.Snow{
  background-image: url("./assets/snow__img.JPG");
}
.Main.Error{
  background-color: #FAEBD7;
  background-image: url("./assets/error__img.PNG");
  background-size: 200px;
}

.Main__not-found{
  font-size: 25px;
  padding:80px;
}
